h1{
    text-align: center;
}
body{
    background-color: black;
    color: white;
    text-align: center;
}
#contact{
    text-align: center;
}
#rs3{
    text-align: center;
}
#r6s{
    text-align: center;
}
#montage{
    text-align: center;
}
h2{
    text-align: center;
}
#discord{
    margin: 20px;
}
#twitter{
    margin: 20px;
}
#youtube{
    margin: 20px;
}
#gmail{
    margin: 20px;
}
#apply2{
    width: 400px;
    height: 100px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* overflow-x: hidden; */
}
body{
    background-image: linear-gradient(#000, #000,#a970a9,#6441a5, #772ce8,#5c16c5);
    color: ivory;
    max-width: 100%;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #0e0e10;
    padding: 30px 0;
}
.wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    cursor: not-allowed;
}
.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    transition-duration: 0.75s;
}
.wrapper .sidebar ul li a{
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: bolder;
}
.mainpage{
    margin-left: 210px;
    width: 100%;
}
.wrapper .sidebar ul li:hover{
    background: #ffffff40
}
.wrapper .sidebar ul li:hover a{
    color: #a970ff
}
.header{
    padding: 20px;
    /* background: #5c16c5;
    border-bottom: 1px solid; */
    margin-left: 600px;
    font-size: 150%;
    border-radius: 25px;
    text-align: center;
}
.wrapper .sidebar .socialmedia{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#submit-btn{
    background: #000;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bolder;
}
#submit-btn:hover{
    color: #000;
    background: #fff;
    transition-duration: 0.6s;
}